/*- - - - - - - - - - - - - media queries 1200px - - - - - - - - - - - - -*/

@media screen and (min-width: 1200px) {
  #case .case_images img {
    width: 100%;
  }

  #case .case_images img:nth-child(even) {
    margin: 0 0 0 0;
  }

  #case .case_images {
    position: relative;
    grid-row: 2;
    grid-column: 2 / span 4;
    padding-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: -30%;
    padding-left: 0;
  }

  #case .case_images img:nth-child(1) {
    grid-column: 1 / span 2;
  }

  #case .case_images img:nth-child(2) {
    grid-column: 2 / span 2;
  }

  #case .case_images img:nth-child(3) {
    grid-column: 3 / span 2;
    transform: translateY(-220%);
    width: 75%;
    margin-left: 25%;
  }
}
