/* general */

:root {
  font-size: 62.5%;
  --bg_gray: #181818;
  --bg_logo: #513675;
  --bg_purple_1: #362250;
  --bg_purple_2: #b177ff;
  --bg_purple_3: #9b54fb;
  --bg_purple_4: #331a57;
  --bg_lightblue: #03e3fc;
  --bg_black_trs: #000000b4;
  --bg_white_trs: rgba(255, 255, 255, 0.9);
  --bg_cta: #513675;
  --font_color: #cccccc;
  scroll-behavior: Smooth;
}

html {
  scroll-behavior: Smooth;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* watch out for accecebility */
*:focus {
  outline: 0;
}

img,
svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.04rem;
  color: var(--font_color);
  background-color: var(--bg_gray);
  min-height: 100%;
  overflow-x: hidden;
}

a,
a:link,
a:active,
a:visited {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 10rem;
  font-weight: bold;
  font-family: "Economica", sans-serif;
}

h2 {
  font-size: 3.5rem;
  font-family: "Economica", sans-serif;
  padding-bottom: 1rem;
  line-height: 4.5rem;
}

h3 {
  font-size: 3.5rem;
  font-family: "Economica", sans-serif;
  padding-bottom: 1rem;
  line-height: 3.5rem;
}

a:hover {
  color: var(--bg_purple_3);
  transition: 0.5s;
}

.hide {
  display: none;
}

/* header */

header {
  position: fixed;
  z-index: 999;
  transition: 1s;
}

#gradiant {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  z-index: 500;
  pointer-events: none;
}

#gradiant .top {
  height: 5rem;
  width: 100vw;
  background-color: var(--bg_black_trs);
  pointer-events: none;
}
#gradiant .fade {
  height: 8rem;
  width: 100vw;
  background-image: linear-gradient(var(--bg_black_trs), transparent);
  pointer-events: none;
}

#logo {
  width: 6rem;
  height: 7rem;
  position: absolute;
  background-image: url(../img/logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 2rem;
  left: 2rem;
  z-index: 999;
  cursor: pointer;
}

#logo:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

#logotext {
  position: absolute;
  width: 100vw;
  z-index: 888;
}

#logotext .holder {
  width: 12rem;
  height: 2.2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 5.5rem 0 0;
  transform: translate(-50%, -50%);
  background-image: url(../img/logo_text.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s;
  cursor: pointer;
}

#logotext .holder:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

main {
  position: relative;
}

.burger {
  cursor: pointer;
  border: none;
  position: fixed;
  top: 3.5rem;
  right: 4rem;
  z-index: 999;
  transform: scale(1.33);
}

.burger:hover {
  transform: scale(1.66);
  transition: 0.5s;
}

.burger:hover .bar2 {
  margin-left: 0;
}

nav {
  height: 13rem;
  width: 100vw;
  overflow: hidden;
  transition: 0.6s;
  font-family: "Economica", sans-serif;
  text-align: center;
  top: 0;
  position: fixed;
  opacity: 0;
  padding: 5rem;
  color: #fff;
  z-index: 888;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10vh;
}

nav li {
  padding: 2rem;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

nav li:last-child {
  padding: 2rem;
  cursor: pointer;
  border-bottom: none;
}

nav a {
  font-size: 2.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  transition: 0.5s ease;
  position: relative;
}

nav a:hover {
  color: var(--bg_purple_2);
  transition: 0.5s ease;
}

.bar1,
.bar2,
.bar3 {
  height: 2px;
  margin: 8px 0;
  transition: 0.4s;
  background-color: #fff;
}

.bar1 {
  width: 30px;
}

.bar2 {
  width: 30px;
}

.bar3 {
  width: 30px;
}

nav.show {
  height: 100%;
  background-color: var(--bg_purple_4);
  opacity: 0.9;
}

.fixed {
  overflow: hidden;
}

.hide_scroll_nav {
  opacity: 0;
  pointer-events: none;
}

.hide_gradiant {
  animation: hidegradiant 1.25s forwards;
}

@keyframes hidegradiant {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30rem);
  }
}

.show_gradiant {
  animation: showgradiant 0.5s forwards;
}

@keyframes showgradiant {
  0% {
    transform: translateY(-30rem);
  }
  100% {
    transform: translateY(0);
  }
}

.change .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

/* sections */

.content {
  position: relative;
  margin: 7rem auto 0;
  max-width: 1200px;
  z-index: 300;
}

.content p {
  margin: 1.5rem 0;
}

#showreel,
footer {
  width: 100vw;
  min-height: 100vh;
  padding: 10vw 10vw;
  position: relative;
  overflow: hidden;
}

#intro,
#what,
#cases,
#case,
#how,
#workarea {
  width: 100vw;
  min-height: 30vh;
  padding: 10vw 10vw;
  position: relative;
  overflow: hidden;
}

#intro,
#what {
  background-color: var(--bg_purple_1);
}

#cases,
#case,
#workarea {
  background-color: var(--bg_gray);
}

#how {
  background-color: var(--bg_purple_1);
}

#contact {
  background-color: var(--bg_gray);
}

#intro::before,
#what::before,
#cases::before,
#case::before,
#contact::before,
#workarea::before {
  content: "";
  width: 100vw;
  height: 20rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}

#intro::before,
#workarea::before {
  background-image: linear-gradient(var(--bg_purple_4), transparent);
}

#what::before {
  background-image: linear-gradient(var(--bg_gray), transparent);
}

#cases::before {
  background-image: linear-gradient(var(--bg_purple_1), transparent);
}

#how::before {
  background-image: linear-gradient(var(--bg_purple_1), transparent);
}

#contact::before {
  background-image: linear-gradient(var(--bg_purple_4), transparent);
}

main h1,
footer h1 {
  padding: 0;
  line-height: 0;
  position: absolute;
  top: 12rem;
  right: 3.5rem;
  transform: rotate(270deg);
  transform-origin: right top;
  text-transform: uppercase;
  color: var(--bg_purple_2);
  opacity: 0.2;
  z-index: 20;
}

/* showreel section*/

#showreel {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

#showreel .header {
  font-family: "Economica", sans-serif;
  text-align: center;
  font-size: 4.5rem;
  line-height: 5rem;
  width: 100%;
  margin: 0 0 5vh;
  z-index: 500;
}

#showreel .cta {
  font-size: 3rem;
  font-weight: bold;
  color: var(--bg_purple_4);
  background-color: #fff;
  line-height: 0;
  width: 0;
  overflow: hidden;
  transform: scale(0);
  cursor: pointer;
}

#showreel .full_video {
  font-size: 3rem;
  color: #fff;
  border: 1px solid #fff;
  line-height: 0;
  padding: 2rem 3rem 2.25rem;
  margin: 3rem auto 0;
  cursor: pointer;
  width: 20rem;
  height: auto;
  transition: 0.5s;
}

#showreel .cta:hover,
#showreel .full_video:hover {
  transform: scale(1.1);
}

#showreel .full_video:hover {
  color: var(--bg_purple_4);
  background-color: #fff;
  border: 0 none transparent;
}

#showreel #videomodal.show {
  width: 100vw;
  height: 100vh;
  pointer-events: all;
  opacity: 1;
}

#showreel #videomodal {
  background-color: #000;
  width: 0;
  height: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: 1s;
  overflow: hidden;
}

#cta_modal {
  background-color: var(--bg_black_trs);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: 1s;
  overflow: auto;
}

#cta_modal .modal_content {
  max-width: 1200px;
  height: auto;
  margin: 3rem;
  transform: translateY(-100vh);
  padding: 3rem;
  color: #fff;
  pointer-events: none;
  transition: 1s;
  opacity: 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

#cta_modal.show {
  pointer-events: all;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: 2000;
  pointer-events: all;
  opacity: 1;
}

#cta_modal .modal_content.show {
  opacity: 1;
  z-index: 2000;
  background-color: var(--bg_cta);
  pointer-events: all;
  transform: translateY(0);
}

#cta_modal .contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

#cta_modal h3 {
  color: var(--bg_lightblue);
  max-width: 80%;
}

#cta_modal .cta_text p {
  margin: 0 0 2rem;
}

#cta_modal .more_info {
  text-transform: uppercase;
}

#cta_modal .contact .icon {
  margin: 0 0 1rem;
  display: block;
}

#cta_modal .icon::before {
  display: inline-flex;
  position: relative;
  top: 1rem;
  margin: 1rem 1rem 1.5rem;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#cta_modal .phone,
#cta_modal .mail {
  color: var(--bg_lightblue);
  word-break: break-all;
}

#cta_modal .mail div {
  display: inline-flex;
  line-height: 2.5rem;
  transform: translateY(-1rem);
}

#cta_modal .phone::before {
  background-image: url(../img/phone_lightblue.svg);
  width: 2rem;
  height: 3rem;
}

#cta_modal .mail::before {
  background-image: url(../img/mail_lightblue.svg);
  width: 3rem;
  height: 3rem;
}

#cta_modal .mail {
  color: var(--bg_lightblue);
  word-break: break-all;
}

#cta_modal .some_icon {
  font-size: 4rem;
  color: #fff;
  margin: 0 1rem 0 0;
}

#cta_modal .some_icon i:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

#cta_modal .close {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-image: url(../img/close_modal.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--bg_white_trs);
  border-radius: 50%;
  z-index: 2000;
  transition: 0.5s;
  pointer-events: all;
  cursor: pointer;
}

#cta_slider {
  width: 100vw;
  height: auto;
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg_black_trs);
  transform: translateY(50rem);
  opacity: 0;
  transition: 2s;
}

#cta_slider .cta_slider_wrapper {
  text-align: center;
  padding: 2rem;
  width: 100%;
}

#cta_slider .cta_slider_ask {
  font-size: 1.5rem;
  margin: 0 0 0.5rem;
}

#cta_slider .cta_slider_button {
  font-family: "Economica", sans-serif;
  font-size: 3rem;
  line-height: 2rem;
  font-weight: bold;
  text-align: center;
  color: var(--bg_purple_4);
  background-color: #fff;
  width: 20rem;
  height: auto;
  cursor: pointer;
  padding: 0.75rem 0 1rem;
  margin: 2rem auto;
  transition: 0.5s;
}

#cta_slider .cta_slider_button:hover {
  transform: scale(1.1);
}

.show_cases_slider {
  transform: translateY(0) !important;
  opacity: 1 !important;
}

#cta_slider .close {
  width: 5rem;
  height: 5rem;
  position: absolute;
  bottom: 3.5rem;
  right: 2rem;
  background-image: url(../img/close.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--bg_black_trs);
  border-radius: 50%;
  z-index: 2000;
  transition: 0.5s;
  pointer-events: all;
  cursor: pointer;
}

#cta_slider .close:hover {
  transform: scale(1.1);
}

#showreel #videomodal .close {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-image: url(../img/close_modal.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--bg_white_trs);
  border-radius: 50%;
  z-index: 1010;
  transition: 0.5s;
  pointer-events: all;
  cursor: pointer;
}

#showreel #videomodal .close:hover,
#cta_modal .close:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#showreel .modal_video {
  width: 100vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#showreel .show_showreel_cta {
  transform: scale(1);
  transition: 0.5s;
  padding: 2rem 3rem 2.25rem;
  margin: 3rem auto 0;
  width: 20rem;
  height: auto;
}

#showreel .explore {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  cursor: pointer;
  z-index: 400;
}

#showreel .explore:hover {
  transform: translateY(-2rem);
  transition: 1s;
}

#showreel .arrow,
#workareapage #showreel .arrow,
#casepage #showreel .arrow {
  width: 2.5rem;
  height: 3.5rem;
  background-image: url(../img/down_arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 1rem auto 5vh;
}

.pulse {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#showreel #overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--bg_purple_4);
  opacity: 0.8;
  z-index: 0;
}

#showreel #dots {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><circle cx='3' cy='3' r='1'/></svg>")
    repeat;
  opacity: 0.5;
}

.fullscreen-bg_video {
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}

#showreel::after {
  content: "";
  width: 100vw;
  height: 30rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(transparent, var(--bg_purple_4));
  z-index: 110;
}

/* intro section */

#intro .case_testimonial {
  font-family: "Economica", sans-serif;
  margin: 5rem 0 0;
}

#intro .case_testimonial .bubble {
  padding-bottom: 129.6%;
  position: relative;
}

#intro .case_testimonial .bubble::before {
  content: '"';
  position: absolute;
  top: 6rem;
  left: 2rem;
  line-height: 0;
  font-size: 8rem;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#intro .case_testimonial .bubble .quote::after {
  content: ' ..."';
  margin-left: -0.5rem;
}

#intro #quote_outline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}

#intro #quote_outline svg {
  position: absolute;
  top: 0;
  left: 0;
}

#intro svg .outline {
  fill: none;
  stroke: var(--bg_purple_3);
  stroke-miterlimit: 10;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  transition: fill 1s;
}

.drawline {
  animation: drawline 1.5s ease-in-out forwards;
}

@keyframes drawline {
  0% {
    stroke-dashoffset: 3000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.move_in {
  animation: move_in 2s ease-out forwards;
}

@keyframes move_in {
  0% {
    transform: translateX(100vw);
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.move_out {
  transform: translateX(100vw);
  opacity: 0;
}

.fade_out {
  animation: fade_out 2s linear forwards;
}

@keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#intro .swop_frame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  z-index: 200;
}

#intro .quote_wrapper {
  position: relative;
  transition: 1s ease-in-out;
  max-width: 75%;
}

#intro .case_testimonial .bubble .quote {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0 0 1.5rem;
  width: auto;
}

#intro .case_testimonial .bubble .quote_person,
#intro .case_testimonial .bubble .quote_company {
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--bg_purple_3);
}

/* what section */

h2,
h3,
p {
  max-width: 70vw;
  position: relative;
}

h2 {
  margin: 0 0 2rem;
  color: var(--bg_lightblue);
}

#what .area_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 7rem;
  padding: 7rem 0 0;
}

#what .area_symbol {
  width: 10rem;
  height: 10rem;
  border: 1px solid var(--bg_lightblue);
  border-radius: 50%;
  cursor: pointer;
}

#what h3 {
  font-size: 3rem;
  color: var(--bg_lightblue);
  margin: 2rem 0 2rem;
  text-transform: uppercase;
  cursor: pointer;
}

#what .arrow {
  width: 7rem;
  height: 3rem;
  background-image: url(../img/what_arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

#what .arrow_wrapper {
  cursor: pointer;
  transition: 1s;
  display: inline-block;
}

#what .arrow_wrapper:hover {
  padding-left: 3rem;
}

#what .area_header {
  transition: 0.5s;
  transform-origin: left center;
}

#what .area_header:hover {
  transform: scale(1.05);
}

/* cases */

#cases .case[data-scroll] {
  transition: all 0.5s ease-in-out;
  transform-origin: center top;
}

#cases .case[data-scroll="in"] {
  transform: translateY(0) scale(1);
  z-index: 60;
}

#cases .case[data-scroll="out"] {
  transform: translateY(0) scale(0.75);
  opacity: 0.25;
}

#cases .showcase {
  margin: 5rem 0 0;
}

#cases img {
  margin: 0;
}

#cases .case {
  border: 1px solid var(--bg_purple_3);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
  margin: 0 0 5rem;
  line-height: 0;
  transition-timing-function: ease-in-out;
}

#cases .case:hover {
  color: var(--bg_purple_3);
  transition: 0.5s;
  cursor: pointer;
  transform: scale(1.05);
}

#cases .label {
  border: 1px solid var(--bg_purple_3);
  padding: 2rem 7rem 2.5rem 2rem;
  position: relative;
  background-color: var(--bg_gray);
  line-height: 2.6rem;
}

#cases .label p {
  margin: 0;
  padding: 0;
}

#cases .company {
  font-family: "Economica", sans-serif;
  font-size: 2.25rem;
  text-transform: uppercase;
  color: var(--bg_purple_3);
}

#cases h3 {
  font-family: "Economica", sans-serif;
  font-size: 2.5rem;
  line-height: 2.8rem;
  margin: 0 0 1rem;
  padding: 0;
  color: #fff;
}

#cases .solution {
  font-family: "Economica", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
}

#cases .arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 2rem;
  width: 4.75rem;
  height: 3.5rem;
  background-image: url(../img/case_arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

#cases .cta {
  font-size: 3rem;
  color: #fff;
  font-family: "Economica", sans-serif;
  border: 1px solid #fff;
  line-height: 0;
  padding: 2rem 3rem 2.25rem;
  margin: 0 auto 0;
  cursor: pointer;
  width: 20rem;
  height: auto;
  transition: 0.5s;
  text-align: center;
  z-index: 1500;
}

#cases .cta:hover {
  transform: scale(1.1);
}

#cases #logo_wrapper,
#activelogos,
#hiddenlogos {
  margin: 5rem 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8vw;
  grid-row-gap: 2vh;
}

#hiddenlogos {
  display: none;
}

#cases #logo_wrapper div,
#activelogos div,
#hiddenlogos div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 1s;
}

#cases #logo_wrapper img,
#cases #activelogos svg {
  transition: 1s;
  height: 100%;
}

#cases #activelogos .cls-1,
#cases #hiddenlogos .cls-1,
#cases #activelogos .cls-2,
#cases #hiddenlogos .cls-2,
#cases #activelogos .cls-3,
#cases #hiddenlogos .cls-3,
#cases #activelogos text,
#cases #hiddenlogos text {
  fill: var(--bg_logo) !important;
}

/* how */
#how .content {
  display: grid;
  grid-template-columns: 1fr;
  z-index: 50;
}

#how .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--bg_purple_4);
  opacity: 0.9;
  z-index: 10;
}

#how::before {
  content: "";
  width: 100vw;
  height: 30rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}

#how::after {
  content: "";
  width: 100vw;
  height: 30rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(transparent, var(--bg_purple_4));
  z-index: 15;
}

#how .circle_container {
  position: relative;
}

#how .hide_bg {
  opacity: 0 !important;
  pointer-events: none;
  transition: 2s !important;
}

#how .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
  transition: 2s;
}

#how #active_item {
  position: absolute;
  left: 50%;
  transform: translateX(-55%) scale(0.6);
  bottom: -2rem;
  width: auto;
  height: auto;
  display: inline-flex;
  z-index: 100;
}

#how #active_item .bullet {
  position: relative;
  height: 3rem;
  width: 3rem;
  border: 1px solid var(--bg_lightblue);
  border-radius: 50%;
  margin: 0.5rem;
  line-height: 0;
  cursor: pointer;
}

#how #active_item .fill {
  height: 2rem;
  width: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg_lightblue);
  border-radius: 50%;
  opacity: 0;
  transition: 0.25s;
}

#how #active_item .fill.active {
  opacity: 1;
  cursor: auto;
}

#how .circle_wrapper {
  position: relative;
  width: 90%;
  padding-bottom: 90%;
  margin: 5rem 0 5rem;
  transition: 0.5s;
}

#how .orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-top: -50%;
  margin-left: -50%;
  transition: 0.5s;
  border-radius: 50%;
}

#how .circle {
  position: absolute;
  width: 87%;
  height: 87%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/circle_d5s.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

#how .item {
  position: absolute;
  width: 3px;
  height: 3px;
  font-size: 6.5vw;
  font-family: "Economica", sans-serif;
  z-index: 500;
  cursor: pointer;
  transition: 0.5s;
  transform-origin: center center;
  line-height: 0;
  overflow: visible;
  color: var(--bg_lightblue);
}

#how .itemholder {
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}

#how .itemholder:hover {
  color: #fff;
}

#how .active {
  color: #fff;
}

/* starting positions */

#how .item.discover {
  left: 100%;
  top: 46.5%;
}

#how .discover.active {
  left: 103%;
  top: 48.5%;
}

#how .item.data {
  left: 70%;
  top: 91%;
}

#how .item.data.active {
  left: 68%;
  top: 99%;
}

#how .item.design {
  left: 6%;
  top: 76%;
}

#how .item.design.active {
  left: 9%;
  top: 81%;
}

#how .item.develop {
  left: 7%;
  top: 20%;
}

#how .item.deliver {
  left: 65%;
  top: 0%;
}

#how .item.deliver {
  left: 65%;
  top: 0%;
}

#how .description {
  margin: 5rem 0 0;
}

#how .description h3 {
  color: var(--bg_lightblue);
  font-size: 4rem;
  font-family: "Economica", sans-serif;
  margin: 0 0 2rem;
}

#how .circle_arrow {
  display: none;
}

#how #circle_text_holder h3 {
  font-size: 3rem;
  margin: 0;
  color: #fff;
}

#how #circle_text_holder .mobile_header {
  font-family: "Economica", sans-serif;
  font-size: 2rem;
  color: var(--bg_lightblue);
  text-transform: uppercase;
  margin: 0 0 2rem;
}

#how .placeholder {
  display: block;
  height: 20%;
  transition: 0.5s;
}

#how .center {
  height: auto;
}

#how #circle_text_holder {
  grid-row: 3;
  padding-right: 10%;
  overflow: hidden;
  position: relative;
  height: 45rem;
  margin: 4rem 0 0;
}

#how #slider {
  position: relative;
  top: 0;
  left: 0;
  display: grid;
  width: 100%;
  height: 500%;
  grid-template-rows: 100% 100% 100% 100% 100%;
  grid-template-columns: 100%;
  transition: 0.5s ease-in-out;
}

/* footer */

footer .content,
footer .contact_wrapper,
footer .location_wrapper,
footer .address_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10vw;
}

footer .content {
  overflow: visible;
}

footer h2 {
  color: var(--bg_lightblue);
  font-family: "Economica", sans-serif;
  font-size: 3rem;
  margin: 0 0 0;
  padding: 0;
}

footer h3 {
  color: var(--bg_lightblue);
  font-family: "Economica", sans-serif;
  font-size: 2.5rem;
  padding: 0;
}

footer .address p {
  margin: 0;
}

footer .icon {
  display: block;
  white-space: nowrap;
}

footer .icon::before {
  display: inline-flex;
  position: relative;
  top: 1rem;
  margin: 1rem 1rem 0 0;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

footer .phone::before {
  background-image: url(../img/phone.svg);
  width: 2rem;
  height: 3rem;
}

footer .mail::before {
  background-image: url(../img/mail.svg);
  width: 3rem;
  height: 3rem;
}

footer .links .link::before {
  background-image: url(../img/link.svg);
  width: 3rem;
  height: 3rem;
  margin: 0 1rem 1.5rem 0;
}

footer .some {
  margin: 3rem 0 0;
}

footer .some_icon {
  font-size: 4rem;
  color: #fff;
  margin: 0 1rem 0 0;
}

footer .some_icon i:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

footer .copyright {
  color: var(--bg_purple_3);
}

footer a {
  transform-origin: left center;
}

footer a:hover {
  color: #fff;
  transform: scale(1.05);
  transition: 0.5s;
}

footer .copyright {
  color: var(--bg_purple_3);
  font-size: 1.2rem;
}

/* case */

#casepage #showreel::after {
  content: "";
  width: 100vw;
  height: 30rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(transparent, var(--bg_gray));
  z-index: 5;
}

#casepage #showreel #dots {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><circle cx='3' cy='3' r='1'/></svg>")
    repeat;
  opacity: 0.8;
}

#casepage #showreel_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation: zoom 15s infinite linear;
}

#casepage #overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--bg_purple_4);
  opacity: 0.8;
  z-index: 100;
}

#case .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10vw;
}

#case h1 {
  color: var(--bg_lightblue);
}

#case .company {
  font-family: "Economica", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 0.5rem;
}

#case h2 {
  margin: 0;
}

#case .case_header .solution {
  font-family: "Economica", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--bg_lightblue);
}

#case .case_text img {
  display: block;
  margin: 3vw 0 3vw;
  width: 85%;
  max-width: 85%;
}

#case .case_images {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
}

#case .case_images .border {
  border: 2px solid var(--bg_logo);
}

#case .case_images .noborder {
  border: 0 none transparent;
}

#case .point_text {
  text-transform: uppercase;
}

#case .point_procentage {
  color: var(--bg_purple_3);
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 0;
  height: 6rem;
  margin: 0 0 1rem;
  padding-top: 3.75rem;
}

#case .case_points {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr;
  grid-gap: 5rem;
}

#case .point img {
  width: auto;
  height: 6rem;
  margin: 0 0 1rem;
}

#case .case_testimonial {
  font-family: "Economica", sans-serif;
  margin: 0 0 -5vw;
}

#case .case_testimonial .bubble {
  background-color: var(--bg_purple_4);
  padding: 6rem 4rem 5rem 5rem;
  position: relative;
  margin: 0 0 8.5rem;
  border: 1px solid var(--bg_purple_3);
}

#case .case_testimonial .bubble::before {
  content: '"';
  position: absolute;
  top: 6rem;
  left: 2.5rem;
  line-height: 0;
  font-size: 9rem;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#case .case_testimonial .bubble::after {
  content: "";
  position: absolute;
  bottom: -6.999rem;
  left: 5rem;
  width: 12rem;
  height: 7rem;
  position: absolute;
  background-image: url(../img/testimonial_bubble_case_outline.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

#case .case_testimonial .bubble .quote {
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 4rem;
  margin: 0 0 1.5rem;
}

#case .case_testimonial .bubble .quote::after {
  content: '"';
  margin-left: -0.5rem;
}

#case .case_testimonial .bubble .quote_person,
#case .case_testimonial .bubble .quote_company {
  font-size: 3rem;
  line-height: 3rem;
  color: var(--bg_purple_2);
}

#case .case_workareas {
  text-align: center;
}

#case .case_workareas .workarea_wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  cursor: pointer;
  margin: 0 2rem 0 0;
}

#case .case_workareas .workarea_wrapper:hover {
  transform: scale(1.1);
  transition: 1s;
}

#case .case_workareas .workarea_wrapper .center {
  display: flex;
  align-items: center;
  width: 15rem;
  font-family: "Economica", sans-serif;
  font-size: 1.5rem;
  color: var(--bg_lightblue);
  text-align: left;
  text-transform: uppercase;
}

#case .case_workareas img {
  max-width: 6rem;
  max-height: 6rem;
  border: 1px solid var(--bg_lightblue);
  border-radius: 50%;
  margin: 2rem 1.5rem 2rem 2rem;
}

#case .case_contact h3 {
  font-size: 2rem;
  color: var(--bg_lightblue);
  text-transform: uppercase;
}

#case .case_contact .more_info {
  text-transform: uppercase;
}

#case .case_contact .icon {
  margin: 0 0 1rem;
  display: block;
}

#case .case_contact .icon::before {
  display: inline-block;
  position: relative;
  top: 1rem;
  margin-right: 1rem;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#case .case_contact .phone {
  color: var(--bg_lightblue);
  font-size: 2rem;
}

#case .case_contact .phone::before {
  background-image: url(../img/phone_lightblue.svg);
  width: 2rem;
  height: 3rem;
}

/* casepage & workarea footer */

#casepage #contact,
#workareapage #contact {
  background-color: var(--bg_logo);
}

#casepage #contact::before,
#workareapage #contact::before {
  background-image: linear-gradient(var(--bg_gray), var(--bg_logo));
}

#casepage #contact .copyright,
#workareapage #contact .copyright {
  color: var(--bg_purple_2);
}

/*- - - - - - - - - - - - - - - workarea page - - - - - - - - - - - - - -*/

#workareapage #showreel_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation: zoom 15s infinite linear;
}

@keyframes zoom {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

#workareapage #overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--bg_purple_4);
  opacity: 0.8;
  z-index: 100;
}

#workareapage #showreel #dots {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 105;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><circle cx='3' cy='3' r='1'/></svg>")
    repeat;
  opacity: 0.5;
}

#workareapage #workarea .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 5rem;
}

#workareapage #workarea .area_symbol {
  width: 10rem;
  height: 10rem;
  border: 1px solid var(--bg_lightblue);
  border-radius: 50%;
}

#workareapage #workarea h1 {
  color: var(--bg_lightblue);
}

#workarea .main_text h1,
#workarea .main_text h2,
#workarea .main_text h3,
#workarea .main_text h4,
#workarea .main_text h5,
#workarea .main_text h6 {
  color: var(--bg_lightblue);
  font-size: 2.5rem;
  padding: 2rem 0 0;
}

#workareapage #workarea h2 {
  font-size: 3rem;
  color: var(--bg_lightblue);
  margin: 1rem 0 2rem;
  text-transform: uppercase;
}

#workareapage #workarea .related_cases {
  margin: 3rem 0 0;
}

#workareapage #workarea .related_wrapper {
  display: grid;
  grid-template-columns: 8rem auto;
  grid-gap: 2rem;
  cursor: pointer;
  margin: 0 0 3rem;
  transition: 0.5s;
  transform-origin: left center;
}

#workareapage #workarea .thumb_info {
  display: flex;
  align-items: center;
}

#workareapage #workarea .related_wrapper:hover {
  transform: scale(1.05);
}

#workareapage #workarea .related_wrapper img:hover {
  border: 1px solid var(--bg_lightblue);
}

#workareapage #workarea .related_wrapper h4 {
  color: #fff;
  font-family: "Economica", sans-serif;
  font-size: 2.2rem;
}

#workareapage #workarea .related_wrapper .description {
  display: block;
}

#workareapage #workarea .related_wrapper .company {
  color: var(--bg_lightblue);
  text-transform: uppercase;
  display: block;
}

#workareapage #workarea .arrow {
  width: 3.5rem;
  height: 2.5rem;
  background-image: url(../img/related_arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-flex;
  position: relative;
  top: 0.5rem;
  cursor: pointer;
}

#workareapage #workarea ul li {
  list-style: none;
  margin: 0 0 1rem 1rem;
  padding: 0 0 0 1rem;
  position: relative;
}

#workareapage #workarea ul li::before {
  color: var(--bg_lightblue);
  content: "\2022";
  display: inline-block;
  font-size: 2.5rem;
  left: -1.1225rem;
  position: absolute;
  top: 0rem;
}

/*- - - - - - - - - - - - - - - media queries - - - - - - - - - - - - - -*/

@media only screen and (max-width: 1080px) and (max-height: 600px) and (orientation: landscape) {
  nav ul {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 6rem 0 0;
  }

  nav li:nth-child(odd) {
    border-right: 1px solid #fff;
  }

  #showreel .full_video {
    margin: 2rem 0 0;
    display: inline-block;
    line-height: 0;
    overflow: hidden;
  }

  #showreel .show_showreel_cta {
    margin: 2rem 0 0 1.5rem;
    display: inline-block;
    line-height: 0;
    overflow: hidden;
    border: 1px solid #fff;
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries 500px - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media screen and (min-width: 500px) {
  #logo {
    width: 7rem;
    height: 8rem;
    top: 2rem;
    left: 2rem;
  }

  #logotext .holder {
    width: 14rem;
    height: 2.5rem;
    margin: 6rem 0 0;
  }

  .burger {
    top: 4rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 4rem;
  }

  #cta_modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #cta_modal .modal_content {
    padding: 5vw;
  }

  #intro .case_testimonial {
    max-width: 400px;
    margin: 5rem auto 0 0;
  }

  footer .icon::before {
    display: inline-block;
    position: relative;
    top: 1rem;
    margin: 1rem 1rem 0 0;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #cta_modal .icon::before {
    display: inline-block;
    position: relative;
    top: 1rem;
    margin: 0 1rem 0 0;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  footer .links .link::before {
    margin: 0 1rem 0 0;
  }

  #case .case_images {
    display: block;
    margin: 0 0 -12%;
  }

  #case .case_images img {
    position: relative;
    width: 70%;
  }

  #case .case_images img:first-child {
    z-index: 500;
  }

  #case .case_images img:nth-child(even) {
    margin: 0 0 0 30%;
  }

  #case .case_images img:nth-child(2) {
    transform: translateY(-30%);
    z-index: 0;
  }

  #case .case_workareas img {
    max-width: 8rem;
    max-height: 8rem;
  }

  footer .address_wrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: 7vw;
  }

  footer .localtion_map {
    max-width: 80%;
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries 700px - - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media screen and (min-width: 700px) {
  main h1,
  footer h1 {
    opacity: 0.6;
  }

  #showreel .header {
    line-height: 6rem;
  }

  #cta_slider .close {
    bottom: auto;
    top: 1.5rem !important;
    right: 4rem;
  }

  #intro .case_testimonial {
    max-width: auto;
    margin: 5rem 0 0 0;
  }

  #intro .case_testimonial .bubble .quote {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  #intro .case_testimonial .bubble::before {
    top: 8rem;
    left: 2.5rem;
    line-height: 0;
    font-size: 12rem;
  }

  #cases #logo_wrapper,
  #activelogos,
  #hiddenlogos {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #cases .showcase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #cases .showcase .case:not(:first-child) {
    margin-top: -10vw;
  }

  #cases .showcase .case:nth-child(odd) {
    grid-column: 1 / span 2;
    transform-origin: left;
  }

  #cases .showcase .case:nth-child(even) {
    grid-column: 2 / span 2;
    transform-origin: right;
  }

  #cases h3 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  #what .area_wrapper {
    grid-template-columns: 1fr 1fr;
  }

  footer .copyright {
    grid-column: 1 / -1;
  }

  footer .address_wrapper {
    grid-template-columns: 40% 60%;
  }

  #case .case_text img {
    width: 70%;
    max-width: 70%;
  }

  #case .case_points {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #case .case_testimonial .bubble {
    padding: 6rem;
  }

  #case .case_testimonial .bubble .quote {
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 4rem;
    margin: 0 0 1.5rem;
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries 900px - - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media screen and (min-width: 900px) {
  .burger {
    display: none;
  }

  nav {
    height: auto;
    margin-right: 0;
    text-align: right;
    transition: 0s;
    padding-top: 5rem;
    padding-bottom: 2rem;
    opacity: 1;
  }

  nav a {
    font-size: 2.5rem;
    font-weight: normal;
  }

  nav a::before {
    display: block;
    content: "";
    width: 2px;
    height: 3px;
    background: var(--bg_purple_2);
    position: absolute;
    bottom: -5px;
    left: 0;
    opacity: 0;
    transition: 0.5s;
  }

  nav a:hover:before {
    width: 100%;
    transition: 0.5s;
    opacity: 1;
  }

  nav a::before {
    height: 1px;
  }

  nav ul {
    margin-top: 0rem;
  }

  nav li {
    display: inline;
    padding-left: 4rem;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  #logotext {
    position: fixed;
    width: 35rem;
  }

  #showreel,
  #intro,
  #what,
  #cases,
  #case,
  #how,
  #workarea,
  footer {
    padding: 10rem 10vw;
  }

  #cta_modal .cta_text {
    max-width: 80%;
  }

  #intro .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
  }

  #intro .intro_header {
    grid-column: 1 / -1;
  }

  #intro .content .case_testimonial {
    margin: 2rem 0 0;
  }

  #intro .case_testimonial .bubble .quote {
    font-size: 2.5rem;
    line-height: 4rem;
  }

  #intro .case_testimonial .bubble .quote_person {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  #intro .case_testimonial .bubble .quote_company {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0.5rem 0 0;
  }

  #cases .showcase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #cases .showcase .case:not(:first-child) {
    margin-top: -10vw;
  }

  #cases .showcase .case:nth-child(4n + 1) {
    grid-column: 1 / span 2;
    transform-origin: left;
  }

  #cases .showcase .case:nth-child(even) {
    grid-column: 2 / span 2;
    transform-origin: center;
  }

  #cases .showcase .case:nth-child(4n + 3) {
    grid-column: 3 / span 2;
    transform-origin: right;
  }

  #cases .case[data-scroll="in"] {
    transform: translateY(0) scale(1);
  }

  #cases .case:hover[data-scroll="in"] {
    transform: translateY(0) scale(1.05);
    z-index: 200;
  }

  #cases .case:hover[data-scroll="out"] {
    transform: translateY(0) scale(1.05);
    z-index: 100;
  }

  #cases .case[data-scroll="out"] {
    transform: translateY(0) scale(0.75);
  }

  #cases #logo_wrapper,
  #activelogos,
  #hiddenlogos {
    grid-column-gap: 15vw;
  }

  footer .copyright {
    grid-column: 1 / -1;
  }

  #how .circle_wrapper {
    margin: 10vh 0 10vh;
  }

  #how .itemholder {
    font-size: 3.5rem;
  }

  #how .content {
    display: grid;
    grid-template-columns: 1fr 20% 30%;
  }

  #how .content .section_info {
    grid-column: 1 / -1;
  }

  #how .content .circle_container {
    grid-column: 1 / span 1;
  }

  #how .circle_arrow {
    display: block;
    background-image: url(../img/down_arrow.svg);
    background-size: 4rem auto;
    background-repeat: no-repeat;
    background-position: center center;
    grid-column: 2;
    animation: activepulse_frames 2s infinite ease-in-out;
  }

  @keyframes activepulse_frames {
    0% {
      transform: rotate(-90deg) scale(1);
    }
    80% {
      transform: rotate(-90deg) scale(1);
    }
    90% {
      transform: rotate(-90deg) scale(1.2);
    }
    100% {
      transform: rotate(-90deg) scale(1);
    }
  }

  #how #circle_text_holder {
    grid-column: 3;
    grid-row: auto;
    padding-right: 10%;
    overflow: hidden;
    position: relative;
    height: 100%;
    margin: 0 0 0;
  }

  #how #slider {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    width: 100%;
    height: 500%;
    grid-template-rows: 100% 100% 100% 100% 100%;
    grid-template-columns: 100%;
    transition: 0.5s ease-in-out;
  }

  #how #circle_text_holder h3 {
    font-size: 3rem;
    margin: 0;
    color: #fff;
  }

  #how #circle_text_holder .mobile_header {
    display: none;
  }

  #how .placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    transition: 0.5s;
  }

  #how .center {
    height: auto;
  }

  #how #active_item {
    position: absolute;
    transform: translateX(0);
    left: 50%;
    top: 100%;
    transform: translate(-55%, 0) scale(0.6);
    bottom: auto;
    width: auto;
    height: auto;
    display: inline-flex;
    z-index: 100;
  }

  footer .content,
  footer .contact_wrapper,
  footer .location_wrapper,
  footer .address_wrapper {
    grid-gap: 5vw;
  }

  footer .content {
    grid-template-columns: 1fr 1fr;
  }

  footer .location_wrapper {
    grid-column: 1 / span 2;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
  }

  footer .address_wrapper {
    grid-gap: 4vw;
    grid-template-columns: 1fr;
  }

  footer .about {
    padding-right: 7vw;
  }

  #case .case_text p,
  #case .case_production_info p {
    padding: 0 7vw 0 0;
  }

  #case .case_text img {
    width: 450px;
    max-width: 450px;
  }

  #case .case_points {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #workareapage #workarea .area_header {
    display: inline-grid;
    grid-template-columns: auto 1fr;
    grid-gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
    grid-column: 1 / -1;
  }

  #workareapage #workarea .area_header h2 {
    align-items: center;
    width: auto;
    padding: 0 0 0.3rem;
  }

  #workareapage #workarea .area_header div {
    align-items: center;
  }

  #workareapage #workarea .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4vw;
    grid-row-gap: 1vw;
  }

  #workareapage #workarea .related_areas {
    margin: 0 0 0 5vw;
  }

  #workareapage #workarea .related_areas h3 {
    color: var(--bg_lightblue);
    font-size: 3rem;
    text-transform: uppercase;
  }

  #workareapage #showreel_image {
    animation: zoom 20s infinite linear;
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries 1200px - - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media screen and (min-width: 1200px) {
  #showreel .full_video {
    position: absolute;
    bottom: 8rem;
    right: 8rem;
    pointer-events: all;
  }

  #cta_modal .cta_text {
    max-width: 100%;
  }

  #cta_modal .modal_content {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5vw;
    grid-row-gap: 2vw;
  }

  #cta_modal h3 {
    grid-column: 1 / -1;
  }

  #what .area_wrapper {
    grid-gap: 5vw;
  }

  #intro .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 3vw;
  }

  #intro .intro_header {
    grid-column: 1 / 3;
    margin: 0;
  }

  #intro .content .intro_text {
    grid-column: 1 / span 3;
  }

  #intro .case_testimonial {
    margin: 0 0 0;
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
  }

  #intro .case_testimonial {
    transform: scale(0.85);
    transform-origin: top right;
  }

  #intro .case_testimonial .bubble::before {
    top: 8rem;
    left: 2.5rem;
    line-height: 0;
    font-size: 12rem;
  }

  #intro .case_testimonial .bubble .quote {
    font-size: 3.25rem;
    line-height: 4rem;
  }

  #intro .case_testimonial .bubble .quote_person {
    font-size: 3rem;
    line-height: 3rem;
  }

  #intro .case_testimonial .bubble .quote_company {
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 0.5rem 0 0;
  }

  #cases #logo_wrapper,
  #activelogos,
  #hiddenlogos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 7vw;
    grid-row-gap: 2vh;
  }

  #what .area_header {
    display: inline-grid;
    grid-template-columns: auto 1fr;
    grid-gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
  }

  #what .area_header h3 {
    align-items: center;
    width: 75%;
    padding: 0 0 0.3rem;
  }

  #what .area_header div {
    align-items: center;
  }

  #case .content {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5vw;
    grid-row-gap: 4vw;
  }

  #case .case_header {
    grid-row: 1;
    grid-column: 1 / -1;
  }

  #case .case_text {
    grid-row: 2 / span 1;
    grid-column: 1 / span 4;
  }

  #case .case_text img {
    margin: 3vw auto 3vw;
    transform: translateX(-3vw);
  }

  #case .case_text p,
  #case .case_production_info p {
    padding: 0 4vw 0 0;
  }

  #case .case_points {
    grid-row: 2 / span 2;
    grid-column: 5 / span 1;
    display: block;
  }

  #case .case_points .point {
    margin: 0 0 3vw;
  }

  #case .case_images {
    position: relative;
    grid-row: 3;
    grid-column: 1 / span 4;
  }

  #case .case_testimonial {
    grid-row: auto;
    grid-column: 1 / -1;
  }

  #case .case_testimonial .bubble .quote {
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height: 4.5rem;
    margin: 0 0 1.5rem;
  }

  #case .case_workareas {
    grid-row: auto;
    grid-column: 1 / -1;
  }

  #case .case_production_info {
    grid-row: auto;
    grid-column: 1 / span 3;
  }

  #case .case_contact {
    grid-row: auto;
    grid-column: 4 / span 2;
  }

  footer .content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  footer .content,
  footer .contact_wrapper {
    grid-gap: 3vw;
  }

  footer .address_wrapper {
    grid-gap: 2vw;
    grid-template-columns: 40% 60%;
  }

  footer .location_wrapper,
  footer .address_wrapper {
    grid-gap: 2vw;
    grid-template-rows: auto 1fr;
  }

  footer .contact_wrapper {
    grid-column: 1 / span 2;
  }

  footer .about {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  footer .location_wrapper {
    grid-template-columns: 1fr;
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
  }

  footer .localtion_map {
    max-width: 65%;
    max-height: 65%;
  }

  #workareapage #workarea .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5vw;
    grid-row-gap: 1vw;
  }

  #workareapage .main_text {
    grid-column: 1 / span 3;
  }

  #workareapage .related_areas {
    grid-column: 4 / span 2;
    margin: 0 0 0 5vw;
  }

  #workareapage #showreel_image {
    animation: zoom 25s infinite linear;
  }

  #cta_slider .cta_slider_ask {
    display: inline-block;
    transform: translateY(-0.5rem);
  }

  #cta_slider .cta_slider_button {
    display: inline-block;
    margin: 0 2rem 0;
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries 1500px- - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media screen and (min-width: 1500px) {
  #case .case_info {
    padding: 0 5vw 0 0;
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - scroll accessibility- - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
