/* general */

:root {
  font-size: 62.5%;
  --bg_gray: #212121;
  --bg_logo: #513675;
  --bg_purple_1: #37264e;
  --bg_purple_2: #b177ff;
  --bg_purple_3: #9b54fb;
  --bg_purple_4: #2d0e57;
  --bg_lightblue: #03e3fc;
  --font_color: #cccccc;
}

html {
  scroll-behavior: Smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/* watch out for accecebility */
*:focus {
  outline: 0;
}

img,
svg {
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.04rem;
  color: var(--font_color);
  background-color: var(--bg_gray);
  min-height: 100%;
}

/* header */

header {
  position: relative;
  z-index: 999;
  transition: 1s;
}

#logo {
  width: 7rem;
  height: 8rem;
  position: fixed;
  background-image: url(../img/dummy_logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  top: 2rem;
  left: 2rem;
  z-index: 888;
  cursor: pointer;
}

#logo:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

#logotext {
  position: absolute;
  width: 100vw;
  font-size: 2rem;
  padding: 5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  z-index: 777;
}

main {
  position: relative;
}

.burger {
  cursor: pointer;
  border: none;
  position: fixed;
  top: 4.5rem;
  right: 4rem;
  z-index: 999;
  transform: scale(1.33);
}

.burger:hover .bar2 {
  margin-left: 0;
}

nav {
  height: 13rem;
  width: 100vw;
  overflow: hidden;
  transition: 0.6s;
  font-family: "Economica", sans-serif;
  text-align: center;
  top: 0;
  position: fixed;
  opacity: 0;
  padding: 5rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10vh;
}

nav li {
  padding: 2rem;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

nav li:last-child {
  padding: 3rem;
  cursor: pointer;
  border-bottom: none;
}

nav a {
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s ease;
  position: relative;
}

nav a:hover {
  color: var(--bg_purple_2);
  transition: 0.5s ease;
}

.bar1,
.bar2,
.bar3 {
  height: 2px;
  margin: 8px 0;
  transition: 0.4s;
  background-color: #fff;
}

.bar1 {
  width: 30px;
}

.bar2 {
  width: 30px;
}

.bar3 {
  width: 30px;
}

nav.show {
  height: 100%;
  background-color: var(--bg_purple_4);
  opacity: 0.9;
}

.blur {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='svgMask'><feGaussianBlur stdDeviation='10' /></filter></svg>#svgMask");
}

.hide_scroll_nav {
  opacity: 0;
  pointer-events: none;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* sections */

#showreel,
#what,
#cases,
#how,
footer {
  width: 100vw;
  min-height: 100vh;
  padding: 10vw;
  position: relative;
  overflow: hidden;
}

#what {
  background-color: var(--bg_purple_1);
}

#cases {
  background-color: var(--bg_gray);
}

#how {
  background-color: var(--bg_logo);
}

#contact {
  background-color: var(--bg_gray);
}

#what::before,
#cases::before,
#how::before,
#contact::before {
  content: "";
  width: 100vw;
  height: 20rem;
  position: absolute;
  top: 0;
  left: 0;
}

#what::before {
  background-image: linear-gradient(var(--bg_purple_4), var(--bg_purple_1));
}

#cases::before {
  background-image: linear-gradient(var(--bg_purple_1), var(--bg_gray));
}

#how::before {
  background-image: linear-gradient(var(--bg_gray), var(--bg_logo));
}

#contact::before {
  background-image: linear-gradient(var(--bg_logo), var(--bg_gray));
}

main h1,
footer h1 {
  font-size: 10rem;
  font-weight: bold;
  font-family: "Economica", sans-serif;
  padding: 0;
  line-height: 0;
  position: absolute;
  top: 15rem;
  right: 3.5rem;
  transform: rotate(270deg);
  transform-origin: right top;
  text-transform: uppercase;
  color: var(--bg_purple_2);
  opacity: 0.75;
}

/* showreel */

#showreel {
  display: flex;
  align-items: center;
  justify-content: center;
}

#showreel .header {
  font-family: "Economica", sans-serif;
  text-align: center;
  font-size: 4.5rem;
  line-height: 6rem;
  width: 100%;
  margin: 0 0 15vh;
  z-index: 100;
}

.explore {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  cursor: pointer;
  z-index: 888;
  color: #fff;
}

.explore:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.arrow {
  width: 2.5rem;
  height: 3.5rem;
  background-image: url(../img/down_arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 1rem auto 7rem;
}

.pulse {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--bg_purple_4);
  opacity: 0.75;
  z-index: 0;
}

.fullscreen-bg_video {
  min-height: 100vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}

#showreel::after {
  content: "";
  width: 100vw;
  height: 20rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(transparent, var(--bg_purple_4));
}

/*- - - - - - - - - - - - - media queries 991px - - - - - - - - - - - - -*/

@media screen and (min-width: 900px) {
  /*Desktop menu*/

  .burger {
    display: none;
  }

  nav {
    height: auto;
    margin-right: 0;
    text-align: right;
    transition: 0s;
    padding-top: 5rem;
    padding-bottom: 2rem;
    opacity: 1;
  }

  nav a {
    font-size: 2.5rem;
    font-weight: normal;
  }

  nav a::before {
    display: block;
    content: "";
    width: 2px;
    height: 3px;
    background: var(--bg_purple_2);
    position: absolute;
    bottom: -5px;
    left: 0;
    opacity: 0;
    transition: 0.5s;
  }

  nav a:hover:before {
    width: 100%;
    transition: 0.5s;
    opacity: 1;
  }

  nav a::before {
    height: 1px;
  }

  nav ul {
    margin-right: 5rem;
    margin-top: 1rem;
  }

  nav li {
    display: inline;
    padding-left: 4rem;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  #logotext {
    position: fixed;
    width: auto;
    padding: 4.5rem;
    left: 5.5rem;
  }
}
